.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-auto {
  width: auto
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-full {
  border-radius: 9999px
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pt-12 {
  padding-top: 3rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-\[12rem\] {
  font-size: 12rem
}

.text-\[3rem\] {
  font-size: 3rem
}

.text-\[2rem\] {
  font-size: 2rem
}

.text-\[2\.5rem\] {
  font-size: 2.5rem
}

.font-semibold {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-orange {
  --tw-text-opacity: 1;
  color: rgb(247 148 29 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}
