.absolute {
  position: absolute
}

.m-2 {
  margin: 0.5rem
}

.m-12 {
  margin: 3rem
}

.m-4 {
  margin: 1rem
}

.m-5 {
  margin: 1.25rem
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem
}

.mx-16 {
  margin-left: 4rem;
  margin-right: 4rem
}

.my-28 {
  margin-top: 7rem;
  margin-bottom: 7rem
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-4 {
  margin-left: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mr-4 {
  margin-right: 1rem
}

.mt-12 {
  margin-top: 3rem
}

.mr-8 {
  margin-right: 2rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mt-44 {
  margin-top: 11rem
}

.mt-24 {
  margin-top: 6rem
}

.mb-24 {
  margin-bottom: 6rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mt-20 {
  margin-top: 5rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-\[1px\] {
  height: 1px
}

.h-12 {
  height: 3rem
}

.h-32 {
  height: 8rem
}

.h-10 {
  height: 2.5rem
}

.h-\[28\%\] {
  height: 28%
}

.h-4 {
  height: 1rem
}

.h-20 {
  height: 5rem
}

.h-\[0\.7px\] {
  height: 0.7px
}

.h-24 {
  height: 6rem
}

.h-16 {
  height: 4rem
}

.h-8 {
  height: 2rem
}

.h-48 {
  height: 12rem
}

.w-full {
  width: 100%
}

.w-32 {
  width: 8rem
}

.w-10 {
  width: 2.5rem
}

.w-\[95\%\] {
  width: 95%
}

.w-8 {
  width: 2rem
}

.w-2\/4 {
  width: 50%
}

.w-auto {
  width: auto
}

.w-20 {
  width: 5rem
}

.w-12 {
  width: 3rem
}

.w-36 {
  width: 9rem
}

.w-24 {
  width: 6rem
}

.w-16 {
  width: 4rem
}

.w-60 {
  width: 15rem
}

.w-48 {
  width: 12rem
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-full {
  border-radius: 9999px
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-3xl {
  border-radius: 1.5rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-b-3xl {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem
}

.rounded-tl-2xl {
  border-top-left-radius: 1rem
}

.rounded-tr-2xl {
  border-top-right-radius: 1rem
}

.border {
  border-width: 1px
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity))
}

.border-slate-50 {
  --tw-border-opacity: 1;
  border-color: rgb(248 250 252 / var(--tw-border-opacity))
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(247 148 29 / var(--tw-bg-opacity))
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-green {
  --tw-bg-opacity: 1;
  background-color: rgb(37 212 130 / var(--tw-bg-opacity))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.p-1 {
  padding: 0.25rem
}

.p-3 {
  padding: 0.75rem
}

.p-2 {
  padding: 0.5rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pt-12 {
  padding-top: 3rem
}

.pt-32 {
  padding-top: 8rem
}

.pt-8 {
  padding-top: 2rem
}

.pt-20 {
  padding-top: 5rem
}

.pt-4 {
  padding-top: 1rem
}

.pb-16 {
  padding-bottom: 4rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-6 {
  padding-bottom: 1.5rem
}

.text-center {
  text-align: center
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-\[16px\] {
  font-size: 16px
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-\[2\.5rem\] {
  font-size: 2.5rem
}

.font-semibold {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-orange {
  --tw-text-opacity: 1;
  color: rgb(247 148 29 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-red-300 {
  --tw-text-opacity: 1;
  color: rgb(252 165 165 / var(--tw-text-opacity))
}

.text-green {
  --tw-text-opacity: 1;
  color: rgb(37 212 130 / var(--tw-text-opacity))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity))
}
